/* About Section */
.aboutSection {
  padding: 20px 15px; /* Adjust padding for small screens */
  text-align: center;
}

.aboutContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.aboutSection h2 {
  font-weight: 1000;
  font-size: 50px; /* Reduce heading size for small screens */
  color: #2a7317;
  margin-bottom: 15px;
}

.aboutSection p {
  font-size: 17px; /* Reduce paragraph font size for small screens */
  color: #333;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.aboutImageContainer {
  margin-top: 10px;
}

.aboutImage {
  width: 100%;
  max-width: 500px; /* Adjust max width for better scaling */
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .aboutSection h2 {
      font-size: 40px; /* Further reduce heading size */
  }
  .aboutSection p {
      font-size: 16px; /* Adjust paragraph font size */
  }
  .aboutImage {
      max-width: 100%; /* Make image fully responsive */
  }
}
